.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--main-background);
  margin-top: 8vh;
  height: 45vh;
  width: 100vw;
}

.banner>h1 {
  font-size: 3.5em;
  margin: 0;
}

.banner>span {
  font-size: 1.6em;
  color: var(--secondary-text);
}