nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw 0 2vw;
  height: 8vh;
  width: 96vw;
  background: var(--main-accent);
  color: var(--inverse-text);
}

nav>ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-size: 1.3em;
}

nav>ul>li>a {
  align-self: center;
  text-decoration: none;
  color: var(--inverse-text);
}

nav>ul>li>a>div {
  height: 0;
  width: 0;
  border-radius: 10px;
  background: var(--secondary-accent);
}

nav a:hover {
  transition: 300ms;
  color: var(--secondary-accent);
}

nav li:hover div {
  transition: 500ms;
  height: .8vh;
  width: 100%;
}

@media screen and (max-width: 768px) {
  nav {
    width: 96vw;
    flex-direction: column;
  }

  nav>ul {
    display: none;
    background: var(--main-accent);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: max-content;
    z-index: 0;
  }

  nav>ul>li {
    padding: 10px;
  }

  nav>div {
    width: 96vw;
    padding: 2vw 0 2vw 0;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamburger>span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--inverse-text);
    border-radius: 3px;
    z-index: 1;
  }
}