html {
  --main-background: rgb(248, 248, 248);
  --main-accent: rgb(25, 135, 237);
  --main-text: rgb(31, 31, 31);
  --secondary-text: rgb(80, 80, 80);
  --secondary-accent: rgb(238, 189, 97);
  --inverse-text: rgb(240, 240, 240);
  font-size: 2vh;
  color: var(--main-text);
  scroll-behavior: smooth;
}